.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: relative;
}
.about-me-section h1 {
  position: sticky;
}
.about-me-section p {
  font-size: 1.5rem;
  margin: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  text-align: center;
}
@keyframes about-me-animation {
  0% {
    color: aquamarine;
  }
  25% {
    color: rgb(104, 90, 140);
  }
  50% {
    color: rgb(197, 143, 189);
  }
  75% {
    color: cornflowerblue;
  }
  100% {
    color: #5bb9b8;
  }
}

.about-me-letter-animation {
  display: inline-block;
  transition: transform 0.5s;
}

.about-me-letter-animation:hover {
  animation: about-me-animation 2s linear infinite;
}

@media screen and (max-width: 1200px) {
  .about-me-section p {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
@media screen and (max-width: 830px) {
  .about-me-section p {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media screen and (max-width: 770px) {
  .about-me-section p {
    font-size: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 440px) {
  .about-me-section p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
