/* BackgroundAudio.module.css */
.audioContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9;
  padding-right: 5rem;
}

.audioLabel {
  color: #67d7e3;
  font-size: 1rem;
  margin-right: 1rem;
  font-family: "Exo 2", sans-serif;
}

.toggleWrapper {
  position: relative;
}

.toggleButton {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #5bb9b8;
  outline: none;
  border: none;
  cursor: pointer;
}

.on {
  background-color: #9cc0cc;
}
.off {
  background-color: rgba(128, 128, 128, 0.377);
}
.slider {
  position: absolute;
  top: 6px;
  left: 3px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s ease-in;
}

.on .slider {
  transform: translateX(24px);
}

.off .slider {
  transform: translateX(2px);
}
