.memoji_part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handsSVG {
  height: auto;
  width: 100%;
  position: fixed;
  top: 10rem;
  z-index: 0;
}
#sasha {
  color: #ff9d4e;
}

.introduction {
  font-size: 3rem;
  text-align: center;
}
.introduction_part {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 20rem;
  padding-bottom: 2rem;
  z-index: 10;
}
.CV {
  z-index: 10;
  font-size: 3rem;
}
@media screen and (max-width: 1096px) {
  .memoji {
    max-width: 70rem;
  }
}

@media screen and (max-width: 850px) {
  .memoji {
    max-width: 60rem;
  }
}

@media screen and (max-width: 695px) {
  .memoji {
    max-width: 40rem;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .memoji {
    max-width: 30rem;
  }
  .introduction_part {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 10rem;
  }
  .introduction {
    font-size: 2rem;
  }
}
