a {
  font-family: "Exo 2", sans-serif;
}
.home_social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.LinkedIn {
  grid-column: 1;
  grid-row: 1;
}
.LinkedIn a {
  color: #5bb9b8;
  transition: 0.5s;
}
.LinkedIn a:hover {
  color: #d2eef3;
}
.mail {
  grid-column: 1;
  grid-row: 2;
}
.mail a {
  color: #5bb9b8;
  transition: 0.5s;
}
.mail a:hover {
  color: #d2eef3;
}
.github {
  grid-column: 1;
  grid-row: 3;
}
.github a {
  color: #5bb9b8;
  transition: 0.5s;
}
.github a:hover {
  color: #d2eef3;
}

.CV {
  grid-column: 2;
  grid-row: 2;
}
.CV a {
  color: #c493ea;
  transition: 0.5s;
}

.CV a:hover {
  color: #e4d2f3;
}
.download-button {
  font-size: 2rem;
}
@media screen and (max-width: 985px) {
  .home_social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
